div {
  text-align: center;
}
input {
  box-sizing: border-box;
  width: 20%;
  font-family: inherit;
  padding: 16px 20px 0 20px;
  height: 50px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #444;
  color: #ffffff;
}

label {
  font-size: 24px;
  color: #ffffff;
  font-weight: bolder;
  margin: 20px;
}

.landing-text {
  margin-top: 100px;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  color: white;
  opacity: 75%;
  margin-bottom: 10px;
}
